footer#footer
    .container
        .holder.d-flex.justify-content-between.flex-wrap
            .col-sm-6.col-lg-4.d-flex
                ul.city-list
                    li
                        a(href='#')
                            .image
                                i.icon-horse
                            span Niedersachsen
                    li
                        a(href='#')
                            .image
                                i.icon-hamburg-big
                            span Hamburg
                    li
                        a(href='#')
                            .image
                                i.icon-schleswig-Holstein
                            span Schleswig-Holstein
            .col-sm-6.col-lg-4.d-flex.align-items-center.justify-content-between.align-items-lg-start
                .img-brand
                    img(src='images/bildschirmfoto.jpg' width='165' height='114' alt='Das wattenmeer')
                .img-brand
                    img(src='images/wattenmeer.jpg' width='128' height='83' alt='wattenmeer')
            .col-lg-4.d-flex.justify-content-sm-around.justify-content-lg-between
                ul.soc-list
                    li
                        a(href='#')
                            i.icon-facebook
                            | Schleswig-Holstein
                    li
                        a(href='#')
                            i.icon-facebook
                            | Hamburg
                    li
                        a(href='#')
                            i.icon-facebook
                            | Niedersachsen
                    li
                        a(href='#')
                            i.icon-email
                            | Newsletter
                ul.menu
                    li
                        a(href='#') Impressum
                    li
                        a(href='#') Datenschutz
                    li
                        a(href='#') Presse
                    li
                        a(href='#') Kontakt
        .bottom
            .copyright © 2018
                =' '
                a(href='#') Nationalpark Wattenmeer


